<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="[openspace] wilderness - an abandoned and re-wilding abandoned virtual wilderness - created for Turbulence.org 2014 - Andrew T Lyman" />
    <title>[openspace] {% block pagetitle %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'media/site/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" media="handheld" href="{% static 'css/mobile.css' %}" />
    <script src="{% static 'scripts/jquery-1.11.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/openspaceScripts.js' %}" type="text/javascript"></script>
    {% include 'background-style.html' %}
</head>
<body>
    <div id="pageWrap">
        <div id="infoCol" class="col">
            <a href="/"><div id="logo"></div></a>
            {% include 'session-hud.html' %}
            <div id="searchBox" class="hiddenToggle box">
                <div class="content">
                    <form class="formal center" method="GET" action="{% url 'parkSearch' %}">
                    <input type="text" name="query" size="35" /> <input type="submit" class="searchButton" value=" ? " />
                    </form>
                </div>
            </div>
        </div> <!-- END infoCol -->
        <div id="mainCol" class="col">
            {% block bruce_banner %}{% endblock %}
            <div id="navBar" class="roundBottom">
                <ul id="subNav" class="nav">
                    <li><a href="/"> home </a></li>
                    <li><a href="{% url 'helpPage' %}">help</a></li>
                    <li><a href="{% url 'infoPage' %}">info</a></li>
                    <li><a href="{% url 'creditsPage' %}">credits</a></li>
                    <li><a data-mark="searchBox" class="toggle">search</a></li>
                </ul>
                <ul id="mainNav" class="nav">
                    <li><a href="{% url 'tags:tags' %}">trails</a></li>
                    <li>[<a href="{% url 'profiles:single' rand_profile %}"> random </a>]</li>
                    <li>[<a href="{% url 'profiles:single' prev_profile %}"> previous </a>]</li>
                    <li>[<a href="{% url 'profiles:single' next_profile %}"> next </a>]</li>
                </ul>
            </div> <!-- END navBar -->
            {% if message_flag %}<div id="messages" class="box">
                <div class="content vCenter">
                    <strong>{{ message }}</strong>
                </div>
            </div>
            <script type="text/javascript">
                $('#messages').delay(66).fadeIn(66);
                $('#messages').delay(2666).fadeTo('fast', 0);
                $('#messages').slideToggle(175, "linear");
            </script>{% endif %} <!-- END messages box -->
            {% block body %}{% endblock %}
            <div class="clear"></div>
        </div> <!-- END mainCol -->
        <a href="{% url 'changeBg' %}"><div id="osIcon"></div></a>
    </div> <!-- END pageWrap -->
</body>
</html>