{% extends 'sub-base.html' %}
{% block pagetitle %}specifications{% endblock %}
{% block body %}
<div id="info" class="box emblem head">
    <div class="content">
        <div class="contentBlock bigBlock justify">
            <h3>[ openspace ] abstract</h3>
            <p>The boom and bust cycle of global capital creates many orphans and islands. A concrete Detroit or Pripyat - when the industry folds, the wells run dry, the air becomes poison, or the focus simply shifts, is left to sit empty and forlorn as a young and haunted human wilderness.</p>
            <p>This same boom and bust cycle is active in the virtual cities of the world - the tone shifts, the shark is jumped, the money evaporates, and the people move on. What sorts of shells are left behind on an abandoned internet? Unnumbered and innumerable sites, profiles, comments, and media - remote, forgotten, and estranged from their architects - sit silent and random. Since the year 2000, the number of internet users has grown over 7 times (from 361 million to 2,749 million). This rapid/rabid rate of  expansion necessarily leaves many ghost-towns in its drag. Whereas the empty places of the concrete world may be re-wilded and re-purposed, what utility or ability is there for scavengers, foragers, and opportunists to re-colonize and re-inhabit the abandoned sites of the virtual wild?</p>
        </div>
        
        <div class="contentBlock smallBlock lastR"><h3>[ wilderness data ]</h3>
        <p><span class="mono dark">[{{ abandoned_pop }}]</span> abandoned profiles<br/>
        <span class="mono dark">[{{ post_pop }}]</span> abandoned posts<br/>
        <span class="mono dark">[{{ predator_pop }}]</span> living predators<br/>
        <span class="mono dark">[{{ forager_pop }}]</span> living foragers<br/>
        <span class="mono dark">[{{ dead_pop }}]</span> dead things</p>
        
        <p><span class="mono dark">[{{ percent_tagged }}%]</span> park tagged<br/>
        <span class="mono dark">[{{ percent_dead }}%]</span> park profiles dead<br/>
        <span class="mono dark">[{{ percent_grazed }}%]</span> park content grazed</p>
        
        <p><span class="mono dark">[{{ protected_posts }}]</span> posts protected<br/>
        <span class="mono dark">[{{ percent_protected }}%]</span> percent protected</p>
        </div>
        
        <div class="contentBlock smallBlock"><h3>[ general data ]</h3>
        <p><span class="mono dark">[361 m]</span> internet users 2000<br/>
        <span class="mono dark">[2749 m]</span> internet users 2013<br/>
        <span class="mono dark">[661%]</span> growth</p>
        
        <p><span class="mono dark">[75.9 m]</span> myspace users 2008<br/>
        <span class="mono dark">[34.8 m]</span> myspace users 2011<br/>
        <span class="mono dark">[54%]</span> dropoff</p>
        
        <p><span class="mono dark">[1.4 b]</span> facebook users<br/>
        <span class="mono dark">[98%]</span> 18-24 year olds using social media</p>
        
        <p><span class="small mono">*m = millions</span><br/>
        <span class="small mono">*b = billions</span>
        </p>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}