{% extends 'sub-base.html' %}
{% block pagetitle %}help{% endblock %}
{% block body %}
<div id="help" class="box emblem head">
    <div class="content">
        <div class="contentBlock bigBlock">
            <h3>[ openspace ] help</h3>
            <p>The <strong>[openspace] wilderness</strong> - a preserve of virtual space encompassing {{ mb_size }} MB of {{ abandoned_count }} abandoned social-network profiles as well a dynamic population of wildlife and visitors. The abandoned profiles which account for the bulk of the park?s area have been created by crawling long neglected blogs that have not received an update in 6 or more years. The names have been changed in order to protect the innocent, however the content of the abandoned profiles in the park is directly pulled from the posts recovered from the found blogs. Visitors to the park are welcome to view, <strong>[tag]</strong>, like: <strong>[+]</strong>, and <strong>[comment]</strong> the forgotten posts and profiles they encounter while wandering the site on: <strong>[@]</strong> or off: <strong>[&ndash;]</strong> <strong>[trails]</strong>.</p>
            <p>Additionally, Visitors may opt to explore the park as either a <strong>[predator]</strong> or a <strong>[forager]</strong> which entreats them to certain attributes and actions - <strong>[predators]</strong> may <strong>[eat]</strong> prey they encounter whereas <strong>[foragers]</strong> may <strong>[graze]</strong> post content. As one of these active profiles, your <strong>[energy]</strong> will be depleted and you may eventually die of starvation if you don't consume a foodsource while you explore the park. As profiles die off, the environment will become littered with the dead explorers, opportunists, and colonizers that have wandered in.</p>
        </div>
        
        <div class="contentBlock smallBlock"><h3>[ navigation key ]</h3>
        <p><span class="mono dark">[+]</span> - add interest<br/>
        <span class="mono dark">[@]</span> - select trail<br/>
        <span class="mono dark">[-]</span> - deselect trail<br/>
        <span class="mono dark">[f]</span> - add profile as friend<br/>
        <span class="mono dark">[tag]</span> - add tag(s)<br/>
        <span class="mono dark">[comment]</span> - add comment</p>
        </div>
        
        <div class="contentBlock smallBlock lastR"><h3>[ park data ]</h3>
        <p>[ {{ profile_count }} ] total profiles<br/>
        [ {{ post_count }} ] total posts</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}