<div id="drapery"></div>
<a href="{% url 'humanEntry' human_key %}"><div id="greeting" class="box block emblem head">
    <div class="content">
        <h3>Welcome, Visitor, to the [ openspace ] wilderness</h3>
        <p>The <strong>[ openspace ] wilderness</strong> is a nature preserve for a small section of abandoned internet. It has been created by gathering the posts of long-forgotten blogs that had sat silent without an update for 6 or more years. These recovered posts make up the majority of explorable terrain within the enclosure. You are among the first human eyes to gaze upon much of this content in many years. Visitors are invited to navigate, tag, and discover the contents within the sizable bounds of the <strong>[{{ mb_size }} MB]</strong> site.</p>
        <p>The wilderness additionally supports a fluctuating population of predator and forager profiles that survive by preying upon the other profiles and grazing on the contents of the posts. The <strong>[ openspace ] wilderness</strong> is a dynamic and wild space - it may be preserved and catalogued or overrun and destroyed. It is an explorable area of open old internet in which you are free to roam and discover. Welcome.</p>
        <h3>Confirm that you are, in fact, a human. [ click to enter ]</h3>
    </div>
</div></a>