{% extends 'sub-base.html' %}
{% block pagetitle %}wilderness{% endblock %}
{% block body %}
<div id="help" class="box emblem head">
    <div class="content">
        <div class="contentBlock bigBlock justify">
            <h3>[ openspace ] primer</h3>
            <div><p><strong>Hello visitor</strong>, and welcome to the <strong>[openspace] wilderness</strong> - a preserve of virtual space encompassing <strong>[{{ mb_size }} square MB]</strong> of {{ abandoned_count }} abandoned social-network profiles as well a dynamic population of wildlife and visitors. The abandoned profiles which account for the bulk of the park's area have been created by gathering the posts of long-neglected blogs forgotten and estranged. The names have been changed in order to protect the innocent, however the content of the abandoned profiles in the park is directly pulled from the posts of the recovered blogs. Visitors to the park are welcome to view, <strong>[tag]</strong>, like: <strong>[+]</strong>, and <strong>[comment]</strong> the forgotten posts and profiles they encounter while exploring the site on: <strong>[@]</strong> or off: <strong>[&ndash;]</strong> <strong>[trails]</strong>.</p>
            <p>Additionally, Visitors may opt to experience the park as either a <strong>[predator]</strong> or a <strong>[forager]</strong> which entreats them to certain attributes and actions - <strong>[predators]</strong> may <strong>[eat]</strong> prey they encounter, whereas <strong>[foragers]</strong> may <strong>[graze]</strong> post content. As one of these active profiles, your <strong>[energy]</strong> will be depleted and you may eventually die of starvation if you don't consume a foodsource while you explore the park. As profiles die off, the environment will become littered with the dead explorers, opportunists, and colonizers that have wandered into its bounds.</p>
            <p>The wilderness is a finite and consumable space. Your actions effect the whole of the park and it may be preserved and mapped or overrun and overgrazed based on the behavior of those who choose to visit.</p>
            <p>for detailed instructions, visit the <a class="mono" href="{% url 'helpPage' %}">[help page]</a></p></div>
        </div>
        
        <div class="contentBlock smallBlock"><h3>[ key ]</h3>
        <p><span class="mono dark">[@]</span> - select trail<br/>
        <span class="mono dark">[-]</span> - deselect trail<br/>
        <span class="mono dark">[f]</span> - add profile as friend<br/>
        <span class="mono dark">[+]</span> - add interest<br/>
        <span class="mono dark">[tag]</span> - add tag(s)<br/>
        <span class="mono dark">[comment]</span> - add comment</p>
        
        <h3>[ definitions ]</h3>
        <p><span class="mono dark">[trail]</span> - an explorable area of the park linked by a <span class="mono dark">[tag]</span><br/>
        <span class="mono dark">[predator]</span> - consumes active profiles for energy<br/>
        <span class="mono dark">[forager]</span> - grazes the content of posts for energy<br/>
        <span class="mono dark">[energy]</span> - the consumable resource of active profiles</p>
        </div>
        
        <div class="contentBlock smallBlock lastR"><h3>[ wilderness data ]</h3>
        <p><span class="mono dark">[{{ abandoned_pop }}]</span> abandoned profiles<br/>
        <span class="mono dark">[{{ post_pop }}]</span> abandoned posts<br/>
        <span class="mono dark">[{{ predator_pop }}]</span> living predator{% if predator_pop != 1 %}s{% endif %}<br/>
        <span class="mono dark">[{{ forager_pop }}]</span> living forager{% if forager_pop != 1 %}s{% endif %}<br/>
        <span class="mono dark">[{{ dead_pop }}]</span> dead thing{% if dead_pop != 1 %}s{% endif %}</p>
        
        <p><span class="mono dark">[{{ percent_tagged }}%]</span> park tagged<br/>
        <span class="mono dark">[{{ percent_dead }}%]</span> park profiles dead<br/>
        <span class="mono dark">[{{ percent_grazed }}%]</span> park content grazed</p>
    
        <p><span class="mono dark">[{{ protected_posts }}]</span> posts protected<br/>
        <span class="mono dark">[{{ percent_protected }}%]</span> percent protected</p>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="box">
    <div class="heading">
        <h3>interesting <a href="{% url 'topProfiles' %}">[ profiles ]</a></h3>
        <div class="auxAct small mono"><a href="{% url 'topProfiles' %}">[more]</a></div>
    </div>
    <div class="content">
        {% include 'profiles-display.html' %}
    </div>
</div>

{% if posts %}
<div class="box">
    <div class="heading">
        <h3>interesting <a href="{% url 'topPosts' %}">[ posts ]</a></h3>
        <div class="auxAct small mono"><a href="{% url 'topPosts' %}">[more]</a></div>
    </div>
    <div class="content">
        {% for post in posts %}
        <a href="{% url 'profiles:singlePost' post.post_profile.id post.id %}"><div class="wideListing textBlock">
            <p>{{ post.fitContent }}. . .</p>
        </div></a> 
        {% endfor %}
        {% else %}
            <p class="vCenter">nothing here, move along please</p>
        {% endif %}
        <div class="clear"></div>
    </div>
</div>

<div class="box">
    <div class="heading">
        <h3>interesting <a href="{% url 'tags:tags' %}">[ trails ]</a></h3>
    </div>
    <div class="content">
        {% for tag in tags %}
            <div class="wideListing">
            <a href="{% url 'tags:selectTrail' tag.id %}">[ {% if selected_trail == tag.name %}&ndash;{% else %}@{% endif %} ]</a> <a href="{% url 'tags:tag' tag.id %}">{{ tag.name }}</a> [ {{ tag.interest }} ]
            </div>
        {% endfor %}
        <div class="clear butt"></div>
    </div>
</div>

<div class="box">
    <div class="heading">
        <h3>latest [ comments ]</h3>
    </div>
    <div class="content">
        {% for comment in recent_comments %}
            <a href="{% url 'profiles:singlePost' comment.commentProfileId comment.commentPostId %}"><div class="wideListing tight">
                <h5>{{ comment.comment_profile }}</h5>
                <h5>{{ comment.date_published }}</h5>
                <p>{{ comment.comment_content }}</p>
            </div></a>
        {% endfor %}
        <div class="clear"></div>
    </div>
</div>
{% endblock %}