<div id="hud" class="flat roundBottom">
    <div class="sessionBlock fright top">
        <div id="sessionInfo" class="fleft"><h4><a href="{% url 'profiles:single' session_id %}">{{ session_name }}</a></h4>
            {% if session_species == predator %}<h4><em>predator</em><br/>kills [ {{ species_meals }} ]</h4>
            {% elif session_species == forager %}<h4><em>forager</em><br/>grazed [ {{ species_meals }} ]</h4>
            {% else %}<h4><em>park visitor</em></h4>{% endif %}
        </div>
        <div id="sessionIcon">
            <a href="{% url 'profiles:single' session_id %}"><img class="round" src="{{ STATIC_URL }}{{ session_icon }}" alt="session profile icon" /></a>
        </div>
    </div>
    <div class="clear"></div>
    <div id="sessionAction" class="sessionBlock topLine">
        <h4>{% if selected_trail != 'no' %}<a href="{% url 'tags:deselectTrail' %}">[ &ndash; ]</a> <a href="{% url 'tags:tag' selected_trail_id %}">[ {{ selected_trail }} ]</a>{% else %}no{% endif %} trail selected</h4>
        {% if not session_lock %}<div id="sessionBlock">
            <h4><a data-mark="speciesSelect" class="toggle">[ select species ]</a></h4>
            <div id="speciesSelect" class="hiddenToggle"><br/><h4>eat active profiles - <a href="{% url 'profiles:createProfile' 3 %}">[ predator ]</a><br/>
            graze post content - <a href="{% url 'profiles:createProfile' 4 %}">[ forager ]</a></h4></div>
        </div>{% endif %}
        {% if is_pred_prey %}
        <p><span class="large{% if session_energy <= 10 %} warning{% endif %}">[ {{ session_energy }} ]</span><br/><em>energy</em></p>
        {% if kosher %}{% if is_post %}<a href="{% url 'profiles:grazePost' profile.id post.id %}">{% else %}<a href="{% url 'profiles:grazeProfile' profile.id %}">{% endif %}<div class="button graze">graze</div></a>
        {% elif prey %}<a href="{% url 'profiles:eatProfile' profile.id %}"><div class="button eat">eat</div></a>{% endif %}
        {% endif %}
    </div>
</div>

{% if session_activity %}<div id="activityBox">
    {% for post in session_activity %}
    <div class="box small miniPost {% if forloop.first and post.justPosted %}latestAction{% endif %}">
        <a href="{% url 'profiles:singlePost' session_id post.id %}"><div class="content">
            <h5 class="strong">{{ post.date_published|date:"F j, Y - fA" }}</h5>
            <p>{{ post.post_content }}</p>
            </div></a>
        </div>{% endfor %}
</div>{% endif %}