<div class="post allRound"> <!-- POST -->
    <div class="auxAct mono small">
        <a data-mark="add-tags{{ post.id }}" class="toggle">[tag]</a><a href="{% url 'profiles:postInterest' post.id %}">[+]</a>
    </div>
    
    <div class="content">
        <a href="{% url 'profiles:single' profile.id %}"><img class="jsFade icon allRound" src="{{ STATIC_URL }}{{ profile.prettyIcon }}" alt="profile icon" /></a>
        <div class="name">
            <h4><a href="{% url 'profiles:single' profile.id %}">{{ profile.fullName }}</a></h4>
            <h5 class="strong"><a href="{% url 'profiles:singlePost' profile.id post.id %}">{{ post.date_published|date:"F j, Y - fA" }}</a></h5>
        </div>
        <div class="clear"></div>
        <p class="topLine">{{ post.post_content|safe }}</p>
        <h5>interest [ {{ post.interest }} ]</h5> 
        <p>{% for tag in post.tags.all %}<a href="{% url 'tags:tag' tag.id %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    </div>
      
    <div class="comments"> <!-- COMMENTS -->
        <div class="content">
            <p>{{ post.comment_set.count }} comment{% if post.comment_set.count != 1 %}s{% endif %} <span class="mono"><a data-mark="leave-comment{{ post.id }}" class="toggle">[comment]</a></span></p>
        </div>
        {% if post.comment_set.count > 0 %}{% for com in post.comment_set.all %}<div class="comment">
            <h5><a href="{% url 'profiles:single' com.comment_profile.id %}">{{ com.comment_profile }}</a> - <em>{{ com.date_published|date:"F j, Y - fA" }}</em></h5>
            <p>{{ com.comment_content }}</p>
        </div>{% endfor %}
        <div class="clear butt"></div>{% endif %}    
    </div> <!-- END comments --> 
</div> <!-- END post -->
{% include 'profiles/post-comment.html' %}
{% include 'profiles/post-tags.html' %}