/* --------------------------------------------------------------------------------->
[openspace] wilderness [stylesheet]
http://www.openspacewilderness.com
AUTHOR: Andrew T. Lyman [nerdyLawman] [andrewtlyman@gmail.com] [2014]
<--------------------------------------------------------------------------------- */

/* RESET */
* {vertical-align:baseline; font-size:100%; border:0 none; outline:0; padding:0; margin:0;}
html {overflow-y:scroll;}

/* GENERAL TYPOGRAPHY */
body {color:#999; font:9pt/1.3em 'Helvetica', Arial, sans-serif;}
p {margin-bottom:1.5em;}
h1, h2, h3 {font-weight:bold; line-height:1.5em; color:#777;}
h1 {font-size:18pt;} h2 {font-size:14pt;} h3 {font-size:10pt;}
h4, h5 {font-weight:normal; font-size:inherit;}
h5 {font-size:8pt;}
strong {font-family:monospace; font-weight:bold; color:#777;}
.strong {font-weight:bold; color:#777;}
.title {margin-bottom:0.5em;}
.light {color:#999;}
.dark {color:#666;}
.eat {background:#cc3300 !important;}
.eat:hover {background:#660000 !important;}
.graze {background:#669933 !important;}
.graze:hover {background:#333300 !important;}
.large {font-size:16pt; font-weight:bold; line-height:1.5em;}
.small {font-size:8pt;}
.warning {color:#cc3300;}
.mono {font-family: monospace;}
.justify {text-align:justify;}
.center {text-align:center;}
.right {text-align:right;}

/* TOOLS */
.fleft {float:left;}
.fright {float:right;}
.clear {clear:both;}
.top {margin-top:14px;}
.head {padding-top:14px;}
.butt {height:12px;}
.lastR {margin-right:0 !important;}
.transparent {filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity:0.5; opacity:0.5;}
.vCenter {text-align:center; height:40px; line-height:48px;}

/* STYLES */
.barren {color:#666;}
.topLine {padding-top:12px; border-top:1px solid #ccc;}
.bottomLine {padding-bottom:1em; margin-bottom:4px; border-bottom:1px solid #d7d7d7;}
.round {-moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;}
.emblem {background:url(https://s3.amazonaws.com/openspacemedia/media/site/osEmblemLarge.jpg) center right no-repeat #fff !important;}

/* IMG */
img {margin:0; padding:0;}

/* LINKS */
a {color:#666; outline:none; text-decoration:none;}
a:hover {color:#999; text-decoration:none; cursor:pointer;}
a img {border: none; text-decoration:none;}
a img:hover {filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8;}

/* GENERAL LISTS */
ul, ol {list-style:none inside;} li {text-decoration:none;}

/* FORMS */
.formal {margin-top:14px;}
.formal input {padding:2px 0;}
.formal input[type="text"] {color:#777; margin-bottom:14px;}
.formal textarea {color:#777; margin-bottom:14px;}
.formal input[type="submit"] {
color:#ccc;
padding:4px 0;
cursor:pointer;
font-family:monospace;
font-size:9pt;
letter-spacing:2.3pt;
text-align:center;
-moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;
}

/* BUTTONS */
.button {
background:#666;
color:#ccc;
width:100%;
margin-bottom:14px;
padding:4px 0;
cursor:pointer;
font-family:monospace;
font-size:9pt;
letter-spacing:2.3pt;
text-align:center;
-moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;
}

.searchButton {
background:#333;
padding:4px 8px !important;
margin-left:8px;
}

.button:hover {background:#333; color:#777;}
.searchButton:hover {background:#666; color:#141414;}

/* STRUCTURAL CLASSES */
.col {float:left;}

.box {
background:#fff;
width:inherit;
min-height:40px;
margin-bottom:16px;
padding-bottom:14px;
-moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;
}

.contentBlock {min-height:111px; margin-right:24px; float:left;}
.bigBlock {width:411px;}
.subBlock {width:387px;}
.smallBlock {width:181px;}
.content {margin:0 14px; word-wrap:break-word;}
.content h3 {margin-bottom:14px;}

.flat {background:#fff; margin:0; padding:3px 14px;}
.bigBox {padding:30px 0 44px 0;}
.gray {background:#efefef; color:#999;}
.black {background:#666; color:#fff; letter-spacing:1em;}
.black strong {color:#fff;}
.roundBottom {-moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; -khtml-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px;}

.heading {
background:#efefef;
color:#999;
width:inherit;
height:2em;
margin-bottom:1em;
padding:4px 0;
-moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; -khtml-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0;
}

.gray .heading {background:#333; color:#777;}
.heading h3 {float:left; margin-left:14px;}
.auxAct {float:right; margin-right:14px;}

.icon {
background:#fff;
width:41px;
height:41px;
margin:0 14px 8px 0;
float:left;
border:1px solid #efefef;
-moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;
}

ul.friends {width:282px; margin:14px auto;}
.friends .icon {margin:2px;}

.post {
background:#fff;
min-height:75px;
margin-bottom:16px;
padding-top:16px;
-moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;
}

.miniPost {background:#efefef; padding:8px 0;}
.miniPost a {color:#999;}

.comments {
background:#efefef;
font-size:8pt;
padding:8px 0 2px 0;
-moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; -khtml-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px;
}

.comments .content {margin-top:5px;}
.comment {margin:6px 14px; padding-top:6px; border-top:1px solid #cfcfcf;}
.comment p {margin-bottom:0;}

.innerListing {font-size:8pt; width:162px; float:left;}

.wideListing {font-size:8pt; width:164px;float:left;}
.wideListing.profile {margin-bottom:14px;}
.wideListing.textBlock {height:120px; overflow:hidden; margin-bottom:14px; }
.wideListing.tightBlock {height:60px; overflow:hidden; margin-bottom:14px; }
.wideListing h5 {color:#666; margin:0 8px; font-weight:bold; font-style:italic;}
.wideListing p {margin:0 8px; text-align:justify; word-break:break-all;}

/* STRUCTURE */
#pageWrap {background:none; width:1182px; min-height:400px; }
#infoCol {text-align:right; width:284px; margin:0 24px; padding-bottom:14px;}
#mainCol {width:850px; margin-bottom:16px;}
#leftCol {width:320px; margin-right:16px;}
#rightCol {width:514px;}

#sessionIcon {float:left; margin-top:2px;}
#sessionInfo {margin-right:14px;}
.sessionBlock {margin-bottom:14px;}

#logo {background:url(https://s3.amazonaws.com/openspacemedia/media/site/osLogoGlitch.jpg) center right no-repeat #141414; width:inherit; height:60px; padding:3px;}
#activityBox {margin-top:16px;}
#searchBox {background:#141414; margin-top:16px; padding-top:8px;}
#messages {color:#141414; letter-spacing:0.75em; overflow:hidden;}
#banner {background:#333; width:inherit; height:273px;}

#navBar {
background:#141414;
width:inherit;
height:40px;
margin-bottom:16px;
}

#mainNav {float:right;}
#subNav {float:left; margin-left:14px;}

.nav {margin-top:10px; margin-right:10px;}
.nav li {
color:#ccc;
display:inline;
font-size:11pt;
font-weight:bold;
padding:2px 4px;
border-right:0px solid #C7C8CA;
}
.nav li a, .nav li a:visited {color:#999;}
.nav li a:hover {color:#777;}

#picWrapper {background:#fff; float:left; margin-right:10px; border:1px solid #cfcfcf;}
#profilePic {width:148px; height:148px; margin:6px;}
#profileData {width:120px; float:left;}
#url {overflow:hidden;}

#osIcon {
background:url(https://s3.amazonaws.com/openspacemedia/media/site/osEmblemIcon.png) top left no-repeat;
position:fixed;
display:block;
width:57px;
height:66px;
bottom:0;
right:0;
margin:0 26px 16px 0;
z-index: -999;
}